{% load static %}

<link rel="stylesheet" href="{% static 'TeamIGS/style.css' %}">

{% comment %} Header with links to other important pages {% endcomment %}
<a href="{% url 'index' %}">Home</a>

{% if cart_items %}
    <ul>
    {% for item in cart_items %}
        <li><a href="{% url 'detail' item.id %}">{{ item.name }}</a></li>
        {% comment %} find some way to handle how many of an item are in cart {% endcomment %}
    {% endfor %}
    </ul>
{% else %}
    <p>Cart is empty.</p>
{% endif %}