{% load static %}

<link rel="stylesheet" href="{% static 'TeamIGS/style.css' %}">

{% comment %} Header with links to other important pages {% endcomment %}
<a href="{% url 'index' %}">Home</a>
{% comment %} <a href=" {% url 'category' %}">Categories</a> {% endcomment %}

{% comment %} Requires implementation of items in cart {% endcomment %}

<div class="row">
	<div class="col-lg-12">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'index' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{cart.items}}</strong></h5></th>
                    <th><h5>Total:<strong>${{cart.price}}</strong></h5></th>
                    <th>
                        {% comment %} <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a> {% endcomment %}
                    </th>
                </tr>
            </table>
        </div>

		<br>
		<div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
                <div style="flex:1"><strong>Quantity</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{{item.image.url}}"></div>
                <div style="flex:2"><p>{{item.name}}</p></div>
                <div style="flex:1"><p>${{item.price}}</p></div>
                <div style="flex:1">
                    <p class="quantity">{{cart.quantity}}</p>
                    <div class="quantity">
                        <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">
                
                        <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">
                    </div>
                </div>
                <!-- find way to calc total cost of single items, that or get rid of this line-->
                <div style="flex:1"><p>${{item.price}}</p></div>
            </div>
	</div>
</div>

