{% load static %}

<link rel="stylesheet" href="{% static 'TeamIGS/style.css' %}">

{% comment %} Header with links to other important pages {% endcomment %}
<a href="{% url 'index' %}">Home</a>
{% comment %} <a href=" {% url 'category' %}">Categories</a> {% endcomment %}

{% comment %} Requires implementation of items in cart {% endcomment %}


{% if cart_items %}
    <ul>
    {% for item in cart_items %}
        <li>
            <a href="{% url 'detail' item.id %}">{{ item.name }} {{ item.price }} </a>
            {% comment %} <a href="{% url 'remove_from_cart' %}">remove</a>" {% endcomment %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <h1>Cart is empty.</h1>
{% endif %}

<h1>Total: {{ Order.total }}</h1>

<a href="{% url 'orderSummary' %}">Order</a>