{% load static %}

<link rel="stylesheet" href="{% static 'TeamIGS/style.css' %}">

{% comment %} Header with links to other important pages {% endcomment %}
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'cart' %}">Cart</a>

<fieldset>
    Name: {{ item.name}}<br>
    Description: {{ item.description }}<br>
    {% comment %} Currently not reading from correct directory, fix later {% endcomment %}
    <img src=item.image alt=item.image><br>
    Price: {{ item.price }}<br>
    Category: {{ item.category }}<br>
</fieldset>