{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'TeamIGS/style.css' %}">
    
    <script type="text/javascript" src="{%static 'js/cart.js' %}"></script>
    
    <script>
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken')
    </script>
</head>

{% comment %} Header with links to other important pages {% endcomment %}
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'cart' %}">Cart</a>
{% comment %} <a href=" {% url 'category' %}">Categories</a> {% endcomment %}

<h1>
    Name: {{ item.name}}<br>
    Description: {{ item.description }}<br>
    {% comment %} Images not working, fix later {% endcomment %}
    <img src="{{ item.image.url }}" alt="item image"><br>
    Price: {{ item.price }}<br>
    Category: {{ item.category }}<br>
</h1>

<button data-item="{{item.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>