{% load static %}

<link rel="stylesheet" href="{% static 'TeamIGS/style.css' %}">

{% comment %} Header with links to other important pages {% endcomment %}
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'cart' %}">Cart</a>
{% comment %} <a href=" {% url 'category' %}">Categories</a> {% endcomment %}

<h1>
    Name: {{ item.name}}<br>
    Description: {{ item.description }}<br>
    {% comment %} Images not working, fix later {% endcomment %}
    <img src="{{ item.image.url }}" alt="item image"><br>
    Price: {{ item.price }}<br>
    Category: {{ item.category }}<br>
</h1>