{% load static %}

<link rel="stylesheet" href="{% static 'TeamIGS/style.css' %}">

{% comment %} Header with links to other important pages {% endcomment %}
<a href="{% url 'index' %}">Home</a>
<a href="{% url 'cart' %}">Cart</a>
<a href="{% url 'category' %}">Categories</a>
{% if category_items %}
    <ul>
    {% for item in category_items %}
        <li><a href="{% url 'detail' item.id %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}

