{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title><!html>
        <link rel="stylesheet" href="{% static 'TeamIGS/style.css' %}">
        <script type="text/javascript" src="{%static 'js/cart.js' %}"></script>
        <script type="text/javascript">
            var user = '{{request.user}}'
            getToken(name)
            getCookie(name)
            var cart = getCart()
        </script>
</head>
    
<body class="index-page">
<!-- Header with links to other important pages -->
    <div class="cart-container">
        <a href="{% url 'cart' %}" class="cart-link">
            <img src="{% static 'images/cart-icon.png' %}" alt="Cart" class="cart-icon">
        </a>
    </div>
 <!-- list of items on site -->
{% if items %}
    <ul>
    {% for item in items %}
        <li><a href="{% url 'detail' item.id %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <h1>No items are available.</h1>
{% endif %}
