li a {
    color: aliceblue;
}

body {
    background: black;
    background-image: url("../images/BACKGROUND.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* centers image*/
    background-attachment: fixed;
    min-height: 100vh; 
    margin: 0; /* avoids gaps */
    color: aliceblue
}

a {
  color: aliceblue;
}

ul {
  color: aliceblue;
}

h1 {
  font-size: 18px;
  color: aliceblue;
}

h2 {
color:aliceblue;
font-size: 50px;
}

.cart-link {
    display: inline-block; /* Makes the link behave like a button */
    padding: 5px; /* Adds padding inside the button */
    background-color: transparent; /* Button background color */
    border: 2px solid aliceblue; /* Adds a border */
    border-radius: 5px; /* Rounds the corners */
    text-decoration: none; /* Removes the underline */
    text-align: center; /* Centers the text */
    transition: transform 0.2s, box-shadow 0.2s; /* Smooth animation for hover effects */
    cursor: pointer; /* Changes the cursor to a pointer */
    overflow: hidden; /* image does not overflow button */
    position: relative; /* proper image positioning */
    width: 50px; /* Button width */
    height: 50px; /* Button height */
}

.cart-link:hover {
    transform: scale(1.1); /* Slightly enlarges the button */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adds a shadow for the "pop-out" effect */
    background-color: aliceblue; /* Changes the background color on hover */
    color: #333; /* Changes the text color on hover */
}

.cart-link:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.cart-icon {
    width: 100%; /* icon width */
    height: 100%; /* icon height */
    display: block; /* image treated as a block*/
    object-fit: contain; /* PNG scales proportionally*/
    position: absolute; /* Image is contained in button */
    top: 0;
    left: 0;
}

.cart-link:visited {
    color:rgb(137, 5, 203);
}

.box-element .chg-quantity{
  width: 1.5%;
}

/* limits size of images on item page */
.itemImage {
  max-width: 400px;
}

.checkout-form {
  /* background-color: black; */
  color: aliceblue;
}

.row-image {
  border: white;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  max-height: 250px;
  max-width: 300px;
  float: left;
  margin-right: 15px;
}

.detail-image {
  border: white;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  max-height: 650px;
  max-width: 800px;
  float: left;
  margin-right: 15px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}